.Footer {
    display: flex;
    flex-wrap: wrap;
    background-color:red;
    justify-content:space-evenly;
    align-items: center;
    height: 10vh;
}

.contactUs{
    display:flex;
    align-items: center;
    justify-content: center;
    height:25%;
    text-align: center;
}